
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #faa279;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

p {
    margin: 10px 0;
}

section.content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


article {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #000000;
}

article h2 {
    color: #007061;
}

article img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

article p {
    font-size: 1.1em;
    color:#000000; 
}



@media screen and (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    .content {
        padding: 10px;
    }

    article {
        padding: 10px;
    }
}

article img {
    width: 100px; 
    height: auto; 
}

footer {
    background-color: #faa279;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Diseño responsive para diferentes tamaños de pantalla */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar nav ul {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        text-align: left;
    }

    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-image img {
        max-width: 80%;
    }

    .about-section .about-content {
        flex-direction: column;
        text-align: center;
    }

    .services-section .service-cards {
        flex-direction: column;
        gap: 20px;
    }

    .articles {
        flex-direction: column;
        gap: 20px;
    }

    .card,
    .article {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 0.9em;
    }

    .hero-content h1 {
        font-size: 2em;
    }

    .hero-content p {
        font-size: 1em;
    }

    .navbar .logo img {
        width: 60px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 0.9em;
    }

    .contact-form button {
        font-size: 0.9em;
    }
}
